@page "/"
@using CurrieTechnologies.Razor.Clipboard
@using EasyIdentityGenerator.Data.Models
@inject ClipboardService Clipboard

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Easy Identity Generator</h1>
    </div>
</div>

<AppInfoPrompt @bind-Value="GeneratedUser" Title="You need a fast way to generate an ASP.NET Identity user to access your app during developement? Then" />

<form>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            </div>
            <input @bind="GeneratedUser.Email" type="text" class="form-control" placeholder="Email" readonly="readonly" />
            <div class="input-group-append">
                <button @onclick="(async e => await Clipboard.WriteTextAsync(GeneratedUser.Email))" type="button" class="btn btn-secondary">Copy</button>
            </div>
        </div>
    </div>    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div>
            <input @bind="GeneratedUser.Password" type="text" class="form-control" placeholder="Password" readonly="readonly" />
            <div class="input-group-append">
                <button @onclick="(async e => await Clipboard.WriteTextAsync(GeneratedUser.Password))" type="button" class="btn btn-secondary">Copy</button>
            </div>
        </div>
    </div>
    <div class="form-group">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Core Hash</span>
            </div>
            <input @bind="GeneratedUser.PasswordHash" type="text" class="form-control" placeholder="Password" readonly="readonly" />
            <div class="input-group-append">
                <button @onclick="(async e => await Clipboard.WriteTextAsync(GeneratedUser.PasswordHash))" type="button" class="btn btn-secondary">Copy</button>
            </div>

        </div>
    </div>
    <div class="form-group">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">MVC Hash</span>
            </div>
            <input @bind="GeneratedUser.PasswordHashMvc" type="text" class="form-control" placeholder="Password" readonly="readonly" />
            <div class="input-group-append">
                <button @onclick="(async e => await Clipboard.WriteTextAsync(GeneratedUser.PasswordHashMvc))" type="button" class="btn btn-secondary">Copy</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <Tabs SelectedTab="@generatedUserSelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="1">JSON</Tab>
                <Tab Name="2">ASP.NET Core SQL</Tab>
                <Tab Name="3">ASP.NET MVC SQL</Tab>
            </Items>
            <Content>
                <TabPanel Name="1">
                    <textarea class="generatedCode form-control" readonly="readonly">
                        @GeneratedUser.Json 
                    </textarea>
                </TabPanel>
                <TabPanel Name="2">
                    <textarea class="generatedCode form-control" readonly="readonly">
                        @GeneratedUser.CoreSql 
                    </textarea>
                </TabPanel>
                <TabPanel Name="3">
                    <textarea class="generatedCode form-control" readonly="readonly">
                        @GeneratedUser.MvcSql 
                    </textarea>
                </TabPanel>
            </Content>
        </Tabs>
    </div>
</form>


@code
{
    ApplicationUser GeneratedUser = new ApplicationUser();
    TabsContent generatedUserTabContent;
    string generatedUserSelectedTab = "1";

    string selectedTab = "profile";
    private void OnSelectedTabChanged(string name)
    {
        generatedUserSelectedTab = name;
        generatedUserTabContent.SelectPanel(name);
    }
}